
<div class="gantt-line-title ember-view">   
<!--
   <span><a href="" {{action 'collapse' @project}}>
   <span><a href="" {{on "click" (fn this.collapse @project)}}>
   <span><a href="" {{on "click" (fn this.collapse )}}>
   <span><a href="" >
      {{@project.title}}</a>
   </span>
   <button type="button"  {{on "click" (fn this.collapse @project)}} >

   <button type="button"  {{on "click" (fn @onClick )}} >
      {{@project.title}}
   </button>
-->

   <BsButton @type="primary"   style="width:100%;height:100%; border-radius:0;text-align:left;"  @icon="glyphicon glyphicon-download" @onClick={{@onClick}}  >
      {{@project.title}}
   </BsButton>
</div>
